info:
  contact:
    email: ServiceDesk@openbanking.org.uk
    name: Service Desk
  description: Swagger for Account and Transaction API Specification
  license:
    name: open-licence
    url: https://www.openbanking.org.uk/open-licence
  termsOfService: https://www.openbanking.org.uk/terms
  title: Account and Transaction API Specification
  version: 4.0.0
openapi: 3.0.0
servers:
  - url: http://gateway.ahmet:8080/account-information
  - url: /open-banking/v4.0/aisp
security:
  - jwtAuth: []
paths:
  /account-access-consents:
    post:
      operationId: CreateAccountAccessConsents
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: '#/components/schemas/OBReadConsent1'
          application/json:
            schema:
              $ref: '#/components/schemas/OBReadConsent1'
          application/json; charset=utf-8:
            schema:
              $ref: '#/components/schemas/OBReadConsent1'
        description: Default
        required: true
      responses:
        '201':
          $ref: '#/components/responses/201AccountAccessConsentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '415':
          $ref: '#/components/responses/415Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - accounts
      summary: Create Account Access Consents
      tags:
        - Account Access
  /account-access-consents/{ConsentId}:
    delete:
      operationId: DeleteAccountAccessConsentsConsentId
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '204':
          $ref: '#/components/responses/204AccountAccessConsentsConsentIdDeleted'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - accounts
      summary: Delete Account Access Consents
      tags:
        - Account Access
    get:
      operationId: GetAccountAccessConsentsConsentId
      parameters:
        - $ref: '#/components/parameters/ConsentId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountAccessConsentsConsentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - TPPOAuth2Security:
            - accounts
      summary: Get Account Access Consents
      tags:
        - Account Access
    parameters:
      - in: path
        name: ConsentId
        required: true
        schema:
          type: string
  /accounts:
    get:
      operationId: GetAccounts
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Accounts
      tags:
        - Accounts
  /accounts/{AccountId}:
    get:
      operationId: GetAccountsAccountId
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Accounts
      tags:
        - Accounts
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
  /accounts/{AccountId}/balances:
    get:
      operationId: GetAccountsAccountIdBalances
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdBalancesRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Balances
      tags:
        - Balances
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
  /accounts/{AccountId}/beneficiaries:
    get:
      operationId: GetAccountsAccountIdBeneficiaries
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdBeneficiariesRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Beneficiaries
      tags:
        - Beneficiaries
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
  /accounts/{AccountId}/direct-debits:
    get:
      operationId: GetAccountsAccountIdDirectDebits
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdDirectDebitsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Direct Debits
      tags:
        - Direct Debits
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
  /accounts/{AccountId}/offers:
    get:
      operationId: GetAccountsAccountIdOffers
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdOffersRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Offers
      tags:
        - Offers
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
  /accounts/{AccountId}/parties:
    get:
      operationId: GetAccountsAccountIdParties
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdPartiesRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Parties
      tags:
        - Parties
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
  /accounts/{AccountId}/party:
    get:
      operationId: GetAccountsAccountIdParty
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdPartyRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Parties
      tags:
        - Parties
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
  /accounts/{AccountId}/product:
    get:
      operationId: GetAccountsAccountIdProduct
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdProductRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Products
      tags:
        - Products
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
  /accounts/{AccountId}/scheduled-payments:
    get:
      operationId: GetAccountsAccountIdScheduledPayments
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdScheduledPaymentsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Scheduled Payments
      tags:
        - Scheduled Payments
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
  /accounts/{AccountId}/standing-orders:
    get:
      operationId: GetAccountsAccountIdStandingOrders
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdStandingOrdersRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Standing Orders
      tags:
        - Standing Orders
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
  /accounts/{AccountId}/statements:
    get:
      operationId: GetAccountsAccountIdStatements
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/FromStatementDateTimeParam'
        - $ref: '#/components/parameters/ToStatementDateTimeParam'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdStatementsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Statements
      tags:
        - Statements
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
  /accounts/{AccountId}/statements/{StatementId}:
    get:
      operationId: GetAccountsAccountIdStatementsStatementId
      parameters:
        - $ref: '#/components/parameters/StatementId'
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdStatementsStatementIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Statements
      tags:
        - Statements
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
      - in: path
        name: StatementId
        required: true
        schema:
          type: string
  /accounts/{AccountId}/statements/{StatementId}/file:
    get:
      operationId: GetAccountsAccountIdStatementsStatementIdFile
      parameters:
        - $ref: '#/components/parameters/StatementId'
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200AccountsAccountIdStatementsStatementIdFileRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Statements
      tags:
        - Statements
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
      - in: path
        name: StatementId
        required: true
        schema:
          type: string
  /accounts/{AccountId}/statements/{StatementId}/transactions:
    get:
      operationId: GetAccountsAccountIdStatementsStatementIdTransactions
      parameters:
        - $ref: '#/components/parameters/StatementId'
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: >-
            #/components/responses/200AccountsAccountIdStatementsStatementIdTransactionsRead
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Transactions
      tags:
        - Transactions
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
      - in: path
        name: StatementId
        required: true
        schema:
          type: string
  /accounts/{AccountId}/transactions:
    get:
      operationId: GetAccountsAccountIdTransactions
      parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/FromBookingDateTimeParam'
        - $ref: '#/components/parameters/ToBookingDateTimeParam'
      responses:
        '200':
          $ref: '#/components/responses/200AccountsAccountIdTransactionsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Transactions
      tags:
        - Transactions
    parameters:
      - in: path
        name: AccountId
        required: true
        schema:
          type: string
  /balances:
    get:
      operationId: GetBalances
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200BalancesRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Balances
      tags:
        - Balances
  /beneficiaries:
    get:
      operationId: GetBeneficiaries
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200BeneficiariesRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Beneficiaries
      tags:
        - Beneficiaries
  /direct-debits:
    get:
      operationId: GetDirectDebits
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200DirectDebitsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Direct Debits
      tags:
        - Direct Debits
  /offers:
    get:
      operationId: GetOffers
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200OffersRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Offers
      tags:
        - Offers
  /party:
    get:
      operationId: GetParty
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200PartyRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Parties
      tags:
        - Parties
  /products:
    get:
      operationId: GetProducts
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200ProductsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Products
      tags:
        - Products
  /scheduled-payments:
    get:
      operationId: GetScheduledPayments
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200ScheduledPaymentsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Scheduled Payments
      tags:
        - Scheduled Payments
  /standing-orders:
    get:
      operationId: GetStandingOrders
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200StandingOrdersRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Standing Orders
      tags:
        - Standing Orders
  /statements:
    get:
      operationId: GetStatements
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/FromStatementDateTimeParam'
        - $ref: '#/components/parameters/ToStatementDateTimeParam'
        - $ref: '#/components/parameters/x-customer-user-agent'
      responses:
        '200':
          $ref: '#/components/responses/200StatementsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Statements
      tags:
        - Statements
  /transactions:
    get:
      operationId: GetTransactions
      parameters:
        - $ref: '#/components/parameters/x-fapi-auth-date'
        - $ref: '#/components/parameters/x-fapi-customer-ip-address'
        - $ref: '#/components/parameters/x-fapi-interaction-id'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/x-customer-user-agent'
        - $ref: '#/components/parameters/FromBookingDateTimeParam'
        - $ref: '#/components/parameters/ToBookingDateTimeParam'
      responses:
        '200':
          $ref: '#/components/responses/200TransactionsRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
        - PSUOAuth2Security:
            - accounts
      summary: Get Transactions
      tags:
        - Transactions
components:
  schemas:
    AccountId:
      description: >-
        A unique and immutable identifier used to identify the account resource.
        This identifier has no meaning to the account owner.
      example: '22289'
      maxLength: 40
      minLength: 1
      type: string
    ActiveOrHistoricCurrencyCode_0:
      description: >-
        Identification of the currency in which the account is held. 

        Usage: Currency should only be used in case one and the same account
        number covers several currencies

        and the initiating party needs to identify which currency needs to be
        used for settlement on the account.
      pattern: ^[A-Z]{3,3}$
      type: string
    ActiveOrHistoricCurrencyCode_1:
      description: >-
        A code allocated to a currency by a Maintenance Agency under an
        international identification scheme, as described in the latest edition
        of the international standard ISO 4217 "Codes for the representation of
        currencies and funds".
      example: GBP
      pattern: ^[A-Z]{3,3}$
      type: string
    AddressLine:
      description: >-
        Information that locates and identifies a specific address for a
        transaction entry, that is presented in free format text.
      maxLength: 70
      minLength: 1
      type: string
    BeneficiaryId:
      description: >-
        A unique and immutable identifier used to identify the beneficiary
        resource. This identifier has no meaning to the account owner.
      example: Ben1
      maxLength: 40
      minLength: 1
      type: string
    BookingDateTime:
      description: >-
        Date and time when a transaction entry is posted to an account on the
        account servicer's books.

        Usage: Booking date is the expected booking date, unless the status is
        booked, in which case it is the actual booking date. All dates in the
        JSON payloads are represented in ISO 8601 date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      format: date-time
      type: string
    BuildingName:
      description: Name of a referenced building.
      maxLength: 140
      minLength: 1
      type: string
    BuildingNumber:
      description: Number that identifies the position of a building on a street.
      example: '11'
      maxLength: 16
      minLength: 1
      type: string
    CareOf:
      description: >-
        The 'care of' address is used whenever sending mail to a person or
        organisation who does not actually live or work at the address. They
        will receive the mail for the individual.
      example: Jane Smith
      maxLength: 140
      minLength: 1
      type: string
    CountryCode:
      description: Nation with its own government, occupying a particular territory.
      pattern: ^[A-Z]{2,2}$
      type: string
    CountrySubDivision:
      description: Identifies a subdivision of a country eg, state, region, county.
      maxLength: 35
      minLength: 1
      type: string
    CreationDateTime:
      description: >-
        Date and time at which the resource was created. All dates in the JSON
        payloads are represented in ISO 8601 date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      example: '2024-05-29T00:00:00Z'
      format: date-time
      type: string
    Date:
      description: >-
        Date and time associated with the date time type. All dates in the JSON
        payloads are represented in ISO 8601 date format. 
         An example is below:
        2017-04-05
      format: date
      type: string
    DateTime:
      description: >-
        Date and time associated with the date time type. All dates in the JSON
        payloads are represented in ISO 8601 date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      example: '2024-05-29T00:00:00Z'
      format: date-time
      type: string
    DebtorReference:
      description: >-
        A reference value provided by the PSU to the PISP while setting up the
        scheduled payment.
      example: REF51561806
      maxLength: 35
      minLength: 1
      type: string
    Description_0:
      description: Specifies the description of the account type.
      maxLength: 35
      minLength: 1
      type: string
    Description_1:
      description: Description that may be available for the statement fee.
      example: International usage charge
      maxLength: 128
      minLength: 1
      type: string
    Description_2:
      description: Description that may be available for the statement interest.
      example: Interest occurred over statement duration
      maxLength: 128
      minLength: 1
      type: string
    Description_3:
      description: Description to describe the purpose of the code
      maxLength: 350
      minLength: 1
      type: string
    DirectDebitId:
      description: >-
        A unique and immutable identifier used to identify the direct debit
        resource. This identifier has no meaning to the account owner.
      maxLength: 40
      minLength: 1
      type: string
    DistrictName:
      description: >-
        Number that of the regional area, known as a district, which forms part
        of an address
      example: Greater London
      maxLength: 140
      minLength: 1
      type: string
    EmailAddress:
      description: Address for electronic mail (e-mail).
      example: d.user@semiotec.co.jp
      maxLength: 256
      minLength: 1
      type: string
    EndDateTime:
      description: >-
        Date and time at which the statement period ends. All dates in the JSON
        payloads are represented in ISO 8601 date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      example: '2017-07-12T00:00:00+00:00'
      format: date-time
      type: string
    ExternalCategoryPurpose1Code:
      description: >-
        Enumeration of codes that outlines the type of purpose behind a
        transaction, payment or risk.  For all enum values see
        `ExternalCategoryPurpose1Code` in *ISO_External_CodeSet*
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
        - BONU
        - CASH
        - CBLK
        - CCRD
        - CGWV
        - CIPC
        - CONC
        - CORT
        - DCRD
        - DIVI
        - DVPM
        - EPAY
        - FCDT
        - FCIN
        - FCOL
        - GOVT
        - GP2P
        - HEDG
        - ICCP
        - IDCP
        - INTC
        - INTE
        - LBOX
        - LOAN
        - MP2B
        - MP2P
        - OTHR
        - PENS
        - RPRE
        - RRCT
        - RVPM
        - SALA
        - SECU
        - SSBE
        - SUPP
        - SWEP
        - TAXS
        - TOPG
        - TRAD
        - TREA
        - VATX
        - VOST
        - WHLD
        - ZABA
      type: string
    ExternalCreditorReferenceType1Code:
      description: >-
        Specifies the type of creditor reference as published in an external
        creditor reference type code set. For more information see
        `ExternalCreditorReferenceType1Code` in *ISO_External_CodeSet*
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
        - DISP
        - FXDR
        - PUOR
        - RPIN
        - RADM
        - SCOR
      maxLength: 4
      minLength: 1
      type: string
    ExternalDocumentType1Code:
      description: >-
        Specifies the document type as published in an external document type
        code list. For more information see `ExternalDocumentType1Code` in
        *ISO_External_CodeSet*
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
        - CINV
        - CNFA
        - CONT
        - CREN
        - DEBN
        - DISP
        - DNFA
        - HIRI
        - INVS
        - MSIN
        - PROF
        - PUOR
        - QUOT
        - SBIN
        - SPRR
        - TISH
      maxLength: 4
      minLength: 1
      type: string
    ExternalEntryStatus1Code:
      description: >-
        Status of a transaction entry on the books of the account servicer. <br
        />

        For a full list of enumeration values refer to
        `ExternalEntryStatus1Code` in *ISO_External_CodeSet*
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
        - BOOK
        - FUTR
        - INFO
        - PDNG
        - RJCT
      type: string
    ExternalMandateStatus1Code:
      description: >-
        Specifies the status of the standing order in code form. For a full list
        of enumeration values refer to 'ExternalMandateStatus1Code' in
        *ISO_External_Codeset*
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
        - ACTV
        - CANC
        - EXPI
        - SUSP
      example: ACTV
      type: string
    ExternalProxyAccountType1Code:
      description: >-
        Specifies the external proxy account type code, as published in the
        proxy account type external code set.<br /> For more information and a
        full list of values see `ExternalProxyAccountType1Code` in
        *ISO_External_CodeSet*
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets)
      enum:
        - TELE
        - EMAL
        - DNAM
        - CINC
        - COTX
        - COID
        - CUST
        - DRLC
        - EIDN
        - EWAL
        - PVTX
        - LEIC
        - MBNO
        - NIDN
        - CCPT
        - SHID
        - SOSE
        - TOKN
        - UBIL
        - VIPN
        - BIID
      example: TELE
      type: string
    File:
      type: object
    FinalPaymentDateTime:
      description: >-
        The date on which the final payment for a Standing Order schedule will
        be made. All dates in the JSON payloads are represented in ISO 8601
        date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      format: date-time
      type: string
    FirstPaymentDateTime:
      description: >-
        The date on which the first payment for a Standing Order schedule will
        be made. All dates in the JSON payloads are represented in ISO 8601
        date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      format: date-time
      type: string
    Floor:
      description: Number that identifies the level within a building
      example: '11'
      maxLength: 70
      minLength: 1
      type: string
    Frequency_1:
      description: >-
        Individual Definitions:

        NotKnown - Not Known

        EvryDay - Every day

        EvryWorkgDay - Every working day

        IntrvlDay - An interval specified in number of calendar days (02 to 31)

        IntrvlWkDay - An interval specified in weeks (01 to 09), and the day
        within the week (01 to 07)

        WkInMnthDay - A monthly interval, specifying the week of the month (01
        to 05) and day within the week (01 to 07)

        IntrvlMnthDay - An interval specified in months (between 01 to 06, 12,
        24), specifying the day within the month (-05 to -01, 01 to 31)

        QtrDay - Quarterly (either ENGLISH, SCOTTISH, or RECEIVED)

        ENGLISH = Paid on the 25th March, 24th June, 29th September and 25th
        December.

        SCOTTISH = Paid on the 2nd February, 15th May, 1st August and 11th
        November.

        RECEIVED = Paid on the 20th March, 19th June, 24th September and 20th
        December.

        Individual Patterns:

        NotKnown (ScheduleCode)

        EvryDay (ScheduleCode)

        EvryWorkgDay (ScheduleCode)

        IntrvlDay:NoOfDay (ScheduleCode + NoOfDay)

        IntrvlWkDay:IntervalInWeeks:DayInWeek (ScheduleCode + IntervalInWeeks +
        DayInWeek)

        WkInMnthDay:WeekInMonth:DayInWeek (ScheduleCode + WeekInMonth +
        DayInWeek)

        IntrvlMnthDay:IntervalInMonths:DayInMonth (ScheduleCode +
        IntervalInMonths + DayInMonth)

        QtrDay: + either (ENGLISH, SCOTTISH or RECEIVED) ScheduleCode +
        QuarterDay

        The regular expression for this element combines five smaller versions
        for each permitted pattern. To aid legibility - the components are
        presented individually here:

        NotKnown

        EvryDay

        EvryWorkgDay

        IntrvlDay:((0[2-9])|([1-2][0-9])|3[0-1])

        IntrvlWkDay:0[1-9]:0[1-7]

        WkInMnthDay:0[1-5]:0[1-7]

        IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01])

        QtrDay:(ENGLISH|SCOTTISH|RECEIVED)

        Full Regular Expression:

        ^(NotKnown)$|^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlDay:((0[2-9])|([1-2][0-9])|3[0-1]))$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$
      pattern: >-
        ^(NotKnown)$|^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlDay:((0[2-9])|([1-2][0-9])|3[0-1]))$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$
      type: string
    FullLegalName:
      description: The full legal name of the party.
      example: Jane Smith
      maxLength: 350
      minLength: 1
      type: string
    ISODateTime:
      description: >-
        All dates in the JSON payloads are represented in ISO 8601 date-time
        format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      format: date-time
      type: string
    Identification_0:
      description: >-
        Identification assigned by an institution to identify an account. This
        identification is known by the account owner.
      example: '80200112344562'
      maxLength: 256
      minLength: 1
      type: string
    Identification_1:
      description: Unique and unambiguous identification of the servicing institution.
      example: '80200112344562'
      maxLength: 35
      minLength: 1
      type: string
    Identification_2:
      description: >-
        Unique and unambiguous identification of a financial institution or a
        branch of a financial institution.
      maxLength: 35
      minLength: 1
      type: string
    Identification_3:
      description: >-
        Identification of the organisation issuing the invoice, when it is
        different from the creditor or ultimate creditor
      example: '80200112344562'
      maxLength: 256
      minLength: 1
      type: string
    Identification_4:
      description: >-
        dentification of the party to whom an invoice is issued, when it is
        different from the debtor or ultimate debtor.
      example: '80200112344562'
      maxLength: 256
      minLength: 1
      type: string
    LEI:
      description: >-
        Legal entity identification as an alternate identification for a party.
        Legal Entity Identifier is a code allocated to a party as described in
        ISO 17442 "Financial Services - Legal Entity Identifier (LEI)".
      example: IZ9Q00LZEVUKWCQY6X15
      maxLength: 20
      minLength: 1
      pattern: ^[A-Z0-9]{18,18}[0-9]{2,2}$
      type: string
    LastPaymentDateTime:
      description: >-
        The date on which the last (most recent) payment for a Standing Order
        schedule was made. All dates in the JSON payloads are represented in ISO
        8601 date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      example: '2017-07-12T00:00:00+00:00'
      format: date-time
      type: string
    Links:
      additionalProperties: false
      description: Links relevant to the payload
      properties:
        First:
          format: uri
          type: string
        Last:
          format: uri
          type: string
        Next:
          format: uri
          type: string
        Prev:
          format: uri
          type: string
        Self:
          format: uri
          type: string
      required:
        - Self
      type: object
    MandateIdentification:
      description: >-
        Direct Debit reference. For AUDDIS service users provide Core Reference.
        For non AUDDIS service users provide Core reference if possible or last
        used reference.
      maxLength: 35
      minLength: 1
      type: string
    MaturityDate:
      description: >-
        Maturity date of the account. All dates in the JSON payloads are
        represented in ISO 8601 date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      format: date-time
      type: string
    Meta:
      additionalProperties: false
      description: Meta Data relevant to the payload
      properties:
        FirstAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
        LastAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
        TotalPages:
          format: int32
          type: integer
      title: MetaData
      type: object
    Model:
      properties:
        id:
          format: int64
          type: integer
      type: object
    Name_0:
      description: >-
        The account name is the name or names of the account owner(s)
        represented at an account level, as displayed by the ASPSP's online
        channels.

        Note, the account name is not the product name or the nickname of the
        account.
      example: Jane Smith
      maxLength: 350
      minLength: 1
      type: string
    Name_1:
      description: >-
        Name by which an agent is known and which is usually used to identify
        that agent.
      example: Agent Name
      maxLength: 140
      minLength: 1
      type: string
    Name_2:
      description: Name of Service User.
      maxLength: 70
      minLength: 1
      type: string
    Name_3:
      description: >-
        Name by which a party is known and which is usually used to identify
        that party.
      example: Mx Jane Smith
      maxLength: 350
      minLength: 1
      type: string
    Name_4:
      description: Long name associated with the code
      maxLength: 70
      minLength: 1
      type: string
    NextPaymentDateTime:
      description: >-
        The date on which the next payment for a Standing Order schedule will be
        made. All dates in the JSON payloads are represented in ISO 8601
        date-time format. 

        All date-time fields in responses must include the timezone. An example
        is below:

        2017-04-05T10:43:07+00:00
      example: '2017-07-12T00:00:00+00:00'
      format: date-time
      type: string
    Nickname:
      description: >-
        The nickname of the account, assigned by the account owner in order to
        provide an additional means of identification of the account.
      maxLength: 70
      minLength: 1
      type: string
    NumberOfPayments:
      description: >-
        Number of the payments that will be made in completing this frequency
        sequence including any executed since the sequence start date.
      maxLength: 35
      minLength: 1
      type: string
    Number_0:
      description: >-
        Indicates whether the advertised overdraft rate is guaranteed to be
        offered to a borrower by the bank e.g. if it s part of a government
        scheme, or whether the rate may vary dependent on the applicant s
        circumstances.
      type: integer
    Number_1:
      description: >-
        fee/charges are captured dependent on the number of occurrences rather
        than capped at a particular amount
      type: integer
    OBAccount6:
      additionalProperties: false
      description: >-
        Unambiguous identification of the account to which credit and debit
        entries are made. The following fields are optional only for accounts
        that are switched:

          * Data.Currency  
          * Data.AccountCategory  
          * Data.AccountTypeCode

        For all other accounts, the fields must be populated by the ASPSP.
      properties:
        Account:
          items:
            description: Provides the details to identify an account.
            properties:
              Identification:
                $ref: '#/components/schemas/Identification_0'
              LEI:
                $ref: '#/components/schemas/LEI'
              Name:
                $ref: '#/components/schemas/Name_0'
              SchemeName:
                $ref: '#/components/schemas/OBInternalAccountIdentification4Code'
              SecondaryIdentification:
                $ref: '#/components/schemas/SecondaryIdentification'
            required:
              - SchemeName
              - Identification
            type: object
          type: array
        AccountCategory:
          $ref: '#/components/schemas/OBInternalAccountType1Code'
        AccountId:
          $ref: '#/components/schemas/AccountId'
        AccountTypeCode:
          $ref: '#/components/schemas/OBExternalAccountSubType1Code'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_0'
        Description:
          $ref: '#/components/schemas/Description_0'
        MaturityDate:
          $ref: '#/components/schemas/MaturityDate'
        Nickname:
          $ref: '#/components/schemas/Nickname'
        OpeningDate:
          $ref: '#/components/schemas/OpeningDate'
        Servicer:
          $ref: >-
            #/components/schemas/OBBranchAndFinancialInstitutionIdentification5_0
        StatementFrequencyAndFormat:
          $ref: '#/components/schemas/StatementFrequencyAndFormat'
        Status:
          $ref: '#/components/schemas/OBInternalAccountStatus1Code'
        StatusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        SwitchStatus:
          $ref: '#/components/schemas/OBInternalSwitchStatusCode'
      required:
        - AccountId
      type: object
    OBAccount6Basic:
      additionalProperties: false
      description: >-
        Unambiguous identification of the account to which credit and debit
        entries are made.
      properties:
        AccountCategory:
          $ref: '#/components/schemas/OBInternalAccountType1Code'
        AccountId:
          $ref: '#/components/schemas/AccountId'
        AccountTypeCode:
          $ref: '#/components/schemas/OBExternalAccountSubType1Code'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_0'
        Description:
          $ref: '#/components/schemas/Description_0'
        MaturityDate:
          $ref: '#/components/schemas/MaturityDate'
        Nickname:
          $ref: '#/components/schemas/Nickname'
        OpeningDate:
          $ref: '#/components/schemas/OpeningDate'
        Status:
          $ref: '#/components/schemas/OBInternalAccountStatus1Code'
        StatusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        SwitchStatus:
          $ref: '#/components/schemas/OBInternalSwitchStatusCode'
      required:
        - AccountId
      type: object
    OBAccount6Detail:
      additionalProperties: false
      description: >-
        Unambiguous identification of the account to which credit and debit
        entries are made.
      properties:
        Account:
          items:
            description: Provides the details to identify an account.
            properties:
              Identification:
                $ref: '#/components/schemas/Identification_0'
              LEI:
                $ref: '#/components/schemas/LEI'
              Name:
                $ref: '#/components/schemas/Name_0'
              SchemeName:
                $ref: '#/components/schemas/OBInternalAccountIdentification4Code'
              SecondaryIdentification:
                $ref: '#/components/schemas/SecondaryIdentification'
            required:
              - SchemeName
              - Identification
            type: object
          type: array
        AccountCategory:
          $ref: '#/components/schemas/OBInternalAccountType1Code'
        AccountId:
          $ref: '#/components/schemas/AccountId'
        AccountTypeCode:
          $ref: '#/components/schemas/OBExternalAccountSubType1Code'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_0'
        Description:
          $ref: '#/components/schemas/Description_0'
        MaturityDate:
          $ref: '#/components/schemas/MaturityDate'
        Nickname:
          $ref: '#/components/schemas/Nickname'
        OpeningDate:
          $ref: '#/components/schemas/OpeningDate'
        Servicer:
          $ref: >-
            #/components/schemas/OBBranchAndFinancialInstitutionIdentification5_0
        StatementFrequencyAndFormat:
          $ref: '#/components/schemas/StatementFrequencyAndFormat'
        Status:
          $ref: '#/components/schemas/OBInternalAccountStatus1Code'
        StatusUpdateDateTime:
          $ref: '#/components/schemas/StatusUpdateDateTime'
        SwitchStatus:
          $ref: '#/components/schemas/OBInternalSwitchStatusCode'
      required:
        - AccountId
        - Account
      type: object
    OBActiveCurrencyAndAmount_SimpleType:
      description: >-
        A number of monetary units specified in an active currency where the
        unit of currency is explicit and compliant with ISO 4217.
      example: '1209.06'
      pattern: ^\d{1,13}$|^\d{1,13}\.\d{1,5}$
      type: string
    OBActiveOrHistoricCurrencyAndAmount_0:
      description: The amount of the most recent direct debit collection.
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
      required:
        - Amount
        - Currency
      type: object
    OBActiveOrHistoricCurrencyAndAmount_1:
      description: >-
        Amount of money to be moved between the debtor and creditor, before
        deduction of charges, expressed in the currency as ordered by the
        initiating party.

        Usage: This amount has to be transported unchanged through the
        transaction chain.
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
      required:
        - Amount
        - Currency
      type: object
    OBActiveOrHistoricCurrencyAndAmount_10:
      description: Transaction charges to be paid by the charge bearer.
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
      required:
        - Amount
        - Currency
      type: object
    OBActiveOrHistoricCurrencyAndAmount_11:
      description: The amount of the last (most recent) Standing Order instruction.
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
      required:
        - Amount
        - Currency
      type: object
    OBActiveOrHistoricCurrencyAndAmount_2:
      description: The amount of the first Standing Order
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
      required:
        - Amount
        - Currency
      type: object
    OBActiveOrHistoricCurrencyAndAmount_3:
      description: The amount of the next Standing Order.
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
      required:
        - Amount
        - Currency
      type: object
    OBActiveOrHistoricCurrencyAndAmount_4:
      description: The amount of the final Standing Order
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
      required:
        - Amount
        - Currency
      type: object
    OBActiveOrHistoricCurrencyAndAmount_5:
      description: Amount of money associated with the statement benefit type.
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
      required:
        - Amount
        - Currency
      type: object
    OBActiveOrHistoricCurrencyAndAmount_6:
      description: Amount of money associated with the statement fee type.
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
      required:
        - Amount
        - Currency
      type: object
    OBActiveOrHistoricCurrencyAndAmount_7:
      description: Amount of money associated with the statement interest amount type.
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
      required:
        - Amount
        - Currency
      type: object
    OBActiveOrHistoricCurrencyAndAmount_8:
      description: Amount of money associated with the amount type.
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
        SubType:
          $ref: '#/components/schemas/OBExternalBalanceSubType1Code'
      required:
        - Amount
        - Currency
      type: object
    OBActiveOrHistoricCurrencyAndAmount_9:
      description: Amount of money in the cash transaction entry.
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode_1'
      required:
        - Amount
        - Currency
      type: object
    OBAddressType2Code:
      description: >-
        Identifies the nature of the postal address. <br /> For a full set of
        codes see `OBAddressType2Code` in *OB_Internal_CodeSet*
        [here](https://github.com/OpenBankingUK/External_Internal_CodeSets).
      enum:
        - BIZZ
        - DLVY
        - MLTO
        - PBOX
        - ADDR
        - HOME
        - CORR
        - STAT
      example: BIZZ
      type: string
    OBAddressTypeCode:
      description: Identifies the nature of the postal address.
      enum:
        - Business
        - Correspondence
        - DeliveryTo
        - MailTo
        - POBox
        - Postal
        - Residential
        - Statement
      type: string
    OBBCAData1:
      additionalProperties: false
      properties:
        CreditInterest:
          additionalProperties: false
          description: >-
            Details about the interest that may be payable to the BCA account
            holders
          properties:
            TierBandSet:
              description: >-
                The group of tiers or bands for which credit interest can be
                applied.
              items:
                description: >-
                  The group of tiers or bands for which credit interest can be
                  applied.
                properties:
                  CalculationMethod:
                    description: Methods of calculating interest
                    enum:
                      - Compound
                      - SimpleInterest
                    title: CalculationMethod
                    type: string
                  Destination:
                    description: >-
                      Describes whether accrued interest is payable only to the
                      BCA or to another bank account
                    enum:
                      - PayAway
                      - SelfCredit
                    title: Destination
                    type: string
                  Notes:
                    description: >-
                      Optional additional notes to supplement the Tier Band Set
                      details
                    items:
                      description: maxLength 2000 text
                      maxLength: 2000
                      minLength: 1
                      type: string
                    title: Notes
                    type: array
                  TierBand:
                    description: Tier Band Details
                    items:
                      description: Tier Band Details
                      properties:
                        AER:
                          description: >-
                            The annual equivalent rate (AER) is interest that is
                            calculated under the assumption that any interest
                            paid is combined with the original balance and the
                            next interest payment will be based on the slightly
                            higher account balance. Overall, this means that
                            interest can be compounded several times in a year
                            depending on the number of times that interest
                            payments are made. 

                            Read more: Annual Equivalent Rate (AER)
                            http://www.investopedia.com/terms/a/aer.asp#ixzz4gfR7IO1A
                          pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                          title: AER
                          type: string
                        ApplicationFrequency:
                          description: >-
                            How often is interest applied to the BCA for this
                            tier/band i.e. how often the financial institution
                            pays accumulated interest to the customer's BCA.
                          enum:
                            - Daily
                            - HalfYearly
                            - Monthly
                            - Other
                            - Quarterly
                            - PerStatementDate
                            - Weekly
                            - Yearly
                          title: ApplicationFrequency
                          type: string
                        BankInterestRate:
                          description: Bank Interest for the BCA product
                          pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                          title: BankInterestRate
                          type: string
                        BankInterestRateType:
                          description: >-
                            Interest rate types, other than AER, which financial
                            institutions may use to describe the annual interest
                            rate payable to the BCA.
                          enum:
                            - Gross
                            - Other
                          title: BankInterestRateType
                          type: string
                        CalculationFrequency:
                          description: >-
                            How often is credit interest calculated for the
                            account.
                          enum:
                            - Daily
                            - HalfYearly
                            - Monthly
                            - Other
                            - Quarterly
                            - PerStatementDate
                            - Weekly
                            - Yearly
                          title: CalculationFrequency
                          type: string
                        DepositInterestAppliedCoverage:
                          description: Amount on which Interest applied.
                          enum:
                            - Banded
                            - Tiered
                            - Whole
                          title: DepositInterestAppliedCoverage
                          type: string
                        FixedVariableInterestRateType:
                          description: Type of interest rate, Fixed or Variable
                          enum:
                            - Fixed
                            - Variable
                          title: FixedVariableInterestRateType
                          type: string
                        Identification:
                          description: >-
                            Unique and unambiguous identification of a  Tier
                            Band for a BCA.
                          maxLength: 35
                          minLength: 1
                          title: Identification
                          type: string
                        Notes:
                          description: >-
                            Optional additional notes to supplement the Tier
                            Band details
                          items:
                            description: maxLength 2000 text
                            maxLength: 2000
                            minLength: 1
                            type: string
                          title: Notes
                          type: array
                        OtherApplicationFrequency:
                          additionalProperties: false
                          description: >-
                            Other application frequencies that are not available
                            in the standard code list
                          properties:
                            Code:
                              description: >-
                                The four letter Mnemonic used within an XML file
                                to identify a code
                              maxLength: 4
                              pattern: ^\w{0,4}$
                              title: Code
                              type: string
                            Description:
                              description: Description to describe the purpose of the code
                              maxLength: 350
                              minLength: 1
                              title: Description
                              type: string
                            Name:
                              description: Long name associated with the code
                              maxLength: 70
                              minLength: 1
                              title: Name
                              type: string
                          required:
                            - Name
                            - Description
                          title: OtherApplicationFrequency
                          type: object
                        OtherBankInterestType:
                          additionalProperties: false
                          description: >-
                            Other interest rate types which are not available in
                            the standard code list
                          properties:
                            Code:
                              description: >-
                                The four letter Mnemonic used within an XML file
                                to identify a code
                              maxLength: 4
                              pattern: ^\w{0,4}$
                              title: Code
                              type: string
                            Description:
                              description: Description to describe the purpose of the code
                              maxLength: 350
                              minLength: 1
                              title: Description
                              type: string
                            Name:
                              description: Long name associated with the code
                              maxLength: 70
                              minLength: 1
                              title: Name
                              type: string
                          required:
                            - Name
                            - Description
                          title: OtherBankInterestType
                          type: object
                        OtherCalculationFrequency:
                          additionalProperties: false
                          description: >-
                            Other calculation frequency which is not available
                            in the standard code set.
                          properties:
                            Code:
                              description: >-
                                The four letter Mnemonic used within an XML file
                                to identify a code
                              maxLength: 4
                              pattern: ^\w{0,4}$
                              title: Code
                              type: string
                            Description:
                              description: Description to describe the purpose of the code
                              maxLength: 350
                              minLength: 1
                              title: Description
                              type: string
                            Name:
                              description: Long name associated with the code
                              maxLength: 70
                              minLength: 1
                              title: Name
                              type: string
                          required:
                            - Name
                            - Description
                          title: OtherCalculationFrequency
                          type: object
                        TierValueMaximum:
                          description: >-
                            Maximum deposit value for which the credit interest
                            tier applies.
                          pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                          title: TierValueMaximum
                          type: string
                        TierValueMinimum:
                          description: >-
                            Minimum deposit value for which the credit interest
                            tier applies.
                          pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                          title: TierValueMinimum
                          type: string
                      required:
                        - TierValueMinimum
                        - ApplicationFrequency
                        - FixedVariableInterestRateType
                        - AER
                      type: object
                    minItems: 1
                    title: TierBand
                    type: array
                  TierBandMethod:
                    description: >-
                      The methodology of how credit interest is paid/applied. It
                      can be:-


                      1. Banded

                      Interest rates are banded. i.e. Increasing rate on whole
                      balance as balance increases.


                      2. Tiered

                      Interest rates are tiered. i.e. increasing rate for each
                      tier as balance increases, but interest paid on tier fixed
                      for that tier and not on whole balance.


                      3. Whole

                      The same interest rate is applied irrespective of the BCA
                      balance
                    enum:
                      - Banded
                      - Tiered
                      - Whole
                    title: TierBandMethod
                    type: string
                required:
                  - TierBandMethod
                  - Destination
                  - TierBand
                type: object
              minItems: 1
              title: TierBandSet
              type: array
          required:
            - TierBandSet
          title: CreditInterest
          type: object
        OtherFeesCharges:
          description: >-
            Contains details of fees and charges which are not associated with
            either Overdraft or features/benefits
          items:
            description: >-
              Contains details of fees and charges which are not associated with
              either Overdraft or features/benefits
            properties:
              FeeChargeCap:
                description: >-
                  Details about any caps (maximum charges) that apply to a
                  particular or group of fee/charge
                items:
                  description: >-
                    Details about any caps (maximum charges) that apply to a
                    particular or group of fee/charge
                  properties:
                    CappingPeriod:
                      description: >-
                        Period e.g. day, week, month etc. for which the
                        fee/charge is capped
                      enum:
                        - Day
                        - Half Year
                        - Month
                        - Quarter
                        - Week
                        - Year
                      title: CappingPeriod
                      type: string
                    FeeCapAmount:
                      description: >-
                        Cap amount charged for a fee/charge (where it is charged
                        in terms of an amount rather than a rate)
                      pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                      title: FeeCapAmount
                      type: string
                    FeeCapOccurrence:
                      description: >-
                        fee/charges are captured dependent on the number of
                        occurrences rather than capped at a particular amount
                      format: float
                      title: FeeCapOccurrence
                      type: number
                    FeeType:
                      description: Fee/charge type which is being capped
                      items:
                        description: Fee/charge type which is being capped
                        enum:
                          - Other
                          - ServiceCAccountFee
                          - ServiceCAccountFeeMonthly
                          - ServiceCAccountFeeQuarterly
                          - ServiceCFixedTariff
                          - ServiceCBusiDepAccBreakage
                          - ServiceCMinimumMonthlyFee
                          - ServiceCOther
                        type: string
                      minItems: 1
                      title: FeeType
                      type: array
                    MinMaxType:
                      description: Min Max type
                      enum:
                        - Minimum
                        - Maximum
                      title: MinMaxType
                      type: string
                    Notes:
                      description: Free text for adding  extra details for fee charge cap
                      items:
                        description: maxLength 2000 text
                        maxLength: 2000
                        minLength: 1
                        type: string
                      title: Notes
                      type: array
                    OtherFeeType:
                      description: >-
                        Other fee type code which is not available in the
                        standard code set
                      items:
                        description: >-
                          Other fee type code which is not available in the
                          standard code set
                        properties:
                          Code:
                            description: >-
                              The four letter Mnemonic used within an XML file
                              to identify a code
                            maxLength: 4
                            pattern: ^\w{0,4}$
                            title: Code
                            type: string
                          Description:
                            description: Description to describe the purpose of the code
                            maxLength: 350
                            minLength: 1
                            title: Description
                            type: string
                          Name:
                            description: Long name associated with the code
                            maxLength: 70
                            minLength: 1
                            title: Name
                            type: string
                        required:
                          - Name
                          - Description
                        type: object
                      title: OtherFeeType
                      type: array
                  required:
                    - FeeType
                    - MinMaxType
                  type: object
                title: FeeChargeCap
                type: array
              FeeChargeDetail:
                description: Other fees/charges details
                items:
                  description: Other fees/charges details
                  properties:
                    ApplicationFrequency:
                      description: How frequently the fee/charge is applied to the account
                      enum:
                        - OnClosing
                        - OnOpening
                        - ChargingPeriod
                        - Daily
                        - PerItem
                        - Monthly
                        - OnAnniversary
                        - Other
                        - PerHundredPounds
                        - PerHour
                        - PerOccurrence
                        - PerSheet
                        - PerTransaction
                        - PerTransactionAmount
                        - PerTransactionPercentage
                        - Quarterly
                        - SixMonthly
                        - StatementMonthly
                        - Weekly
                        - Yearly
                      title: ApplicationFrequency
                      type: string
                    CalculationFrequency:
                      description: How frequently the fee/charge is calculated
                      enum:
                        - OnClosing
                        - OnOpening
                        - ChargingPeriod
                        - Daily
                        - PerItem
                        - Monthly
                        - OnAnniversary
                        - Other
                        - PerHundredPounds
                        - PerHour
                        - PerOccurrence
                        - PerSheet
                        - PerTransaction
                        - PerTransactionAmount
                        - PerTransactionPercentage
                        - Quarterly
                        - SixMonthly
                        - StatementMonthly
                        - Weekly
                        - Yearly
                      title: CalculationFrequency
                      type: string
                    FeeAmount:
                      description: >-
                        Fee Amount charged for a fee/charge (where it is charged
                        in terms of an amount rather than a rate)
                      pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                      title: FeeAmount
                      type: string
                    FeeApplicableRange:
                      additionalProperties: false
                      description: >-
                        Range or amounts or rates for which the fee/charge
                        applies
                      properties:
                        MaximumAmount:
                          description: >-
                            Maximum Amount on which fee is applicable (where it
                            is expressed as an amount)
                          pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                          title: MaximumAmount
                          type: string
                        MaximumRate:
                          description: >-
                            Maximum rate on which fee/charge is applicable(where
                            it is expressed as an rate)
                          pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                          title: MaximumRate
                          type: string
                        MinimumAmount:
                          description: >-
                            Minimum Amount on which fee/charge is applicable
                            (where it is expressed as an amount)
                          pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                          title: MinimumAmount
                          type: string
                        MinimumRate:
                          description: >-
                            Minimum rate on which fee/charge is applicable(where
                            it is expressed as an rate)
                          pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                          title: MinimumRate
                          type: string
                      title: FeeApplicableRange
                      type: object
                    FeeCategory:
                      description: >-
                        Categorisation of fees and charges into standard
                        categories.
                      enum:
                        - Other
                        - Servicing
                      title: FeeCategory
                      type: string
                    FeeChargeCap:
                      description: >-
                        Details about any caps (maximum charges) that apply to a
                        particular or group of fee/charge
                      items:
                        description: >-
                          Details about any caps (maximum charges) that apply to
                          a particular or group of fee/charge
                        properties:
                          CappingPeriod:
                            description: >-
                              Period e.g. day, week, month etc. for which the
                              fee/charge is capped
                            enum:
                              - Day
                              - Half Year
                              - Month
                              - Quarter
                              - Week
                              - Year
                            title: CappingPeriod
                            type: string
                          FeeCapAmount:
                            description: >-
                              Cap amount charged for a fee/charge (where it is
                              charged in terms of an amount rather than a rate)
                            pattern: ^(-?\d{1,14}){1}(\.\d{1,4}){0,1}$
                            title: FeeCapAmount
                            type: string
                          FeeCapOccurrence:
                            description: >-
                              fee/charges are captured dependent on the number
                              of occurrences rather than capped at a particular
                              amount
                            format: float
                            title: FeeCapOccurrence
                            type: number
                          FeeType:
                            description: Fee/charge type which is being capped
                            items:
                              description: Fee/charge type which is being capped
                              enum:
                                - Other
                                - ServiceCAccountFee
                                - ServiceCAccountFeeMonthly
                                - ServiceCAccountFeeQuarterly
                                - ServiceCFixedTariff
                                - ServiceCBusiDepAccBreakage
                                - ServiceCMinimumMonthlyFee
                                - ServiceCOther
                              type: string
                            minItems: 1
                            title: FeeType
                            type: array
                          MinMaxType:
                            description: Min Max type
                            enum:
                              - Minimum
                              - Maximum
                            title: MinMaxType
                            type: string
                          Notes:
                            description: >-
                              Free text for adding  extra details for fee charge
                              cap
                            items:
                              description: maxLength 2000 text
                              maxLength: 2000
                              minLength: 1
                              type: string
                            title: Notes
                            type: array
                          OtherFeeType:
                            description: >-
                              Other fee type code which is not available in the
                              standard code set
                            items:
                              description: >-
                                Other fee type code which is not available in
                                the standard code set
                              properties:
                                Code:
                                  description: >-
                                    The four letter Mnemonic used within an XML
                                    file to identify a code
                                  maxLength: 4
                                  pattern: ^\w{0,4}$
                                  title: Code
                                  type: string
                                Description:
                                  description: >-
                                    Description to describe the purpose of the
                                    code
                                  maxLength: 350
                                  minLength: 1
                                  title: Description
                                  type: string
                                Name:
                                  description: Long name associated with the code
                                  maxLength: 70
                                  minLength: 1
                                  title: Name
                                  type: string
                              required:
                                - Name
                                - Description
                              type: object
                            title: OtherFeeType
                            type: array
                        required:
                          - FeeType
                          - MinMaxType
                        type: object
                      title: FeeChargeCap
                      type: array
                    FeeRate:
                      description: >-
                        Rate charged for Fee/Charge (where it is charged in
                        terms of a rate rather than an amount)
                      pattern: ^(-?\d{1,3}){1}(\.\d{1,4}){0,1}$
                      title: FeeRate
                      type: string
                    FeeRateType:
                      description: >-
                        Rate type for Fee/Charge (where it is charged in terms
                        of a rate rather than an amount)
                      enum:
                        - Gross
                        - Other
                      title: FeeRateType
                      type: string
                    FeeType:
                      description: Fee/Charge Type
                      enum:
                        - Other
                        - ServiceCAccountFee
                        - ServiceCAccountFeeMonthly
                        - ServiceCAccountFeeQuarterly
                        - ServiceCFixedTariff
[...]
